/*
 function :   ls_load()
 author   :   E
 created  :   07/06/18
 */



.selectQuery{

    display: inherit;
    padding: 10px 50px 10px 50px;
    border-radius: 9px 9px 5px 5px;
    margin-top: 15px;
    right: 3.5%;
    position: relative;

		}
.QueryTopDiv{



	}

.QueryDiv{

	position: relative;
    left: 36%;
		}

.QuerybodyTop {
    width: 70%;
    float: right;
    background-color: #f7f7f7;
    padding-bottom: 50%;
    margin-top: 15px;
    border: 1px solid #e2d4d4;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    padding-right: 1%;
}

.RedPlaceholder{

color: red;
display: inline-block;    
}